.navgrate{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: auto;
  width: 100%;
  background: #fff;
  border-top: 1px solid #e9e9e9;
}
.nav-list{
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
}
.nav-list li{
  display: inline-block;
  flex: 1;
  padding: 5px 0;
  font-size: 14px;
  height: auto;
  text-align: center;
  color: aquamarine;
}